// variable definition
// colors

// $green-sucess: rgba(#00E676,0.5);
$green-sucess: rgba(0,208,200,0.5);
// $red-fail: rgba(#D81B60,0.5);
$red-fail: rgba(255,35,151,0.5);
$content: rgba(#E1BEE7,0.5);
$results: #BA68C8;
$background-welcome: #F5F5F5;
$purple : rgb(129,0,255);

// fin de definition des variables

#operation {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 700%;
}

.calculs {
  margin-bottom: 200px;
}

#answer-input {
  width: 50%;
  font-size: 700%;
  outline: none;
  border: none;
  border-color: transparent;
  text-align: center;
}

#correct {
  color: $green-sucess;
  background-image: url('/assets/green-balls.png');
  font-size: 300%;
}

#faux {
  color: $red-fail;
  background-image: url("red-balls.png");
  font-size: 300%;
}

#content {
  padding-top: 10%;
  background-color: $content;
}

#content-correct{
    padding-top: 10%;
    background-color: $green-sucess;
    background-image: url('/assets/green-balls.png');
}

#content-false{
    padding-top: 10%;
    background-color: $red-fail;
    background-image: url("red-balls.png");
}

.button-session {
  background-color: $results;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  margin: 10px;
}

#keyboard-0, #keyboard-1, #keyboard-2, #keyboard-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.number {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8em;
  border: 1px solid;
  padding: 1% 1% 1% 1%;
  margin: 1%;
  cursor: pointer;
  color: $purple;
  // height: 5%;
  width: 30%;
  text-align: center;
}

.img-number {
  height: 40%;
  width: 40%;
}

//styling de la page welcome

#welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("image003.png");
  opacity: 1.0;
  padding: 20% 0% 20% 0%;
}

#welcome-buttons {
  display: flex;
  flex-direction: row;
}

.temps {
  font-size: 50px;
  font-weight: bold;
  color: black;
  font-family: cursive;
}
