
#operation {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 700%;
}

#answer-input {
  // width: 200%;
  font-size: 700%;
  outline: none;
  border: none;
  border-color: transparent;
  text-align: center
}

#content {

}
