// variable definition
// colors

$green-sucess: #00E676;
$red-fail: #D81B60;
$content: rgba(#E1BEE7,0.5);
$results: #BA68C8;
$background-welcome: #F5F5F5;

// fin de definition des variables

#operation {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 700%;
}

#answer-input {
  width: 50%;
  font-size: 700%;
  outline: none;
  border: none;
  border-color: transparent;
  text-align: center;
}

#correct {
  color: $green-sucess;
  font-size: 300%;
}

#faux {
  color: $red-fail;
  font-size: 300%;
}

#content {
  padding-top: 10%;
  background-color: $content;
}

#content-correct{
    padding-top: 10%;
    background-color: $green-sucess;
}

#content-false{
    padding-top: 10%;
    background-color: $red-fail;
}

.button-session {
  background-color: $results;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  margin: 10px;
}

#keyboard-0, #keyboard-1, #keyboard-2, #keyboard-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.number {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 120px;
  border: 1px solid;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}

//styling de la page welcome

#welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-welcome;
}

#welcome-buttons {
  display: flex;
  flex-direction: row;
}

.temps {
  font-size: 50px;
  font-weight: bold;
  color: $results;
}
